doctype 5
html
  head
    block head
      title BackboneJS Integration
      link(rel='stylesheet', href='/static/css/bootstrap.css')
  body
    block content
    script(data-main='/lib/main', src='/lib/third-party/require.js')
