doctype 5
html(lang='en', ng-app='myApp')
  head
    title AngularJS Integration
    link(rel='stylesheet', href='/static/css/bootstrap.css')
  body
    script(data-main='/lib/main', src='/lib/third-party/require.js')
